body {
    background-image: url("https://media.licdn.com/dms/image/v2/D5612AQGy6sM0SJAdxg/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1693150322893?e=2147483647&v=beta&t=2_aostRG53XjmjiS9FSI9Jcfn73tsoq3uFate9rV0XE")
    ;
    background-size: cover;
   
}
.nav{
    position: fixed;
}
img{


height:180px ;
width: 280px;
position: fixed;
object-fit: cover;

}
.r{
    align-content: flex-start;
    display: inline-block;

}
#myDropdown{
    Margin-left: 1000px;
    margin-top: 60px;
    color: white;
   padding: 5px;
   font-size: 15px;
   padding-right: 30px;
 border-color: white;
   border-width: 0.3px;
   padding-left: 20px;
   border-radius: 5px;
   background-color: transparent;
   display: inline;
   width: 100px;
 
}
.op{
    background-color: red !important;
    color: white;
    padding-right: 30px;
    padding-left: 0px;
    font-size: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
     border-radius: 5px;
     text-decoration: none;
     padding-left: 20px;
     border-color: transparent;
 
     cursor: pointer;
     margin-left: 30px;
     margin-top: 60px;
   
}
.po{
    text-decoration: none;
    color:white;
    background-color: red;
    margin-left: 20px;
    
}
.r{
    color: white;
    margin-top: 200px;
    margin-left: 34%;
    text-align: center;
    font-size: 50px;
   
}
.c{
    color: white;
    text-align: center;
    margin-top: 0px;
    font-size: 20px;
}
small{
    color: white;
    text-align: center;
    margin-left: 30%;
    font-size: 15px;
    
}

.nav{
    display: flex;
}
.k input {
    margin-left: 390px;
    color: white;
    padding-top: 20px;
    width: 300px;      
    height: 35px;      
    font-size: 16px;   
    padding: 8px; 
    background-color: rgba(70, 70, 70, 0.6);
    border-color: grey;
   border-radius: 5px;
   display: inline-block;
}
.k{
    color: rgb(255, 255, 255);
    display: inline-block;

    
}
.pp{
    text-decoration: none;
    height: 50px;
    display: inline-block;
    text-align: center;
   
}
.ll{
   height: 40px;          
    width: 150px;          
    font-size: 18px;       
    padding: 10px 20px;    
    border-radius: 8px;    
    background-color: red;
    color:white;
    text-decoration: none;
    color: white;
    border-top-width: 18px;
    border-color: red;
    border-bottom-width: 18px;
    outline: none;
    border: none;
   text-align: center;
    display: flex;
    text-align: center;
    align-content: center;
    padding-top: 12;
    
    
   
    
}
.ll :hover {

    cursor: pointer;
}
.xo{
    background-color: black;
    color: white;
}
li{
    margin-top: 8px;
    text-decoration: underline;
    list-style-type: none;
    font-size: small;
}
.qo{
    display: inline-block;
}
.qq{
    display: inline-block;
    margin-left: 30%;
}
.aa{
    margin-left: 30%;
    display: inline-block;
}
h5{
    margin-left: 20px;
}
*{
    font-family: sans-serif;
}
a{
    text-decoration: none;
}